body,html{
  height: 100%;

}

.header{

  /*text-align:center;*/
  height: 10vh;
  /*margin-bottom: 10px;*/
  background: grey;
}

.header-button{
    width:100%;
    color:white;
    height: 10vh;
    font-size: 15pt;
    /*background: #3498db;*/
}
.current{
text-decoration: underline;
}

/*.center{
  text-align: center;
}*/

/*.back{
  height: inherit;
  width: 25vw;
  letter-spacing: .2vw;
  background-color: #ecf0f1;
}

.back:active{
  background-color: #7f8c8d;
  color: white;
}*/

.back:focus{
  outline: none;
}

.button-bar{
  height: 10vh;
  width: 100%;

  display:inline-block;
}

.food {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  /*font-weight: bold;*/
}
/*.saved-list{
  position: relative;
  height: auto;
  max-height: 81vh;
  overflow-x: hidden;
}*/

/*.food-item{
  height: 10vh;
  padding: .25vh;
  background-color: #ecf0f1;
}*/
/*
.selected{
  background-color: #3498db;
  color: white;
}*/

.food-item h3{
  margin-left: 3vw;
  vertical-align: middle;
}


.addFood {
  background-color: #2ecc71;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 1vh;
  height: 9vh;
}

.addFood:active {
  background-color: #27ae60;
}

.addFood h3 {
  color: black;
  font-size: 3vh;
  /*padding: .5vh;*/
}
.saved-title{
  font-size: 3vh;

}
.saved-list{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}
/*.header-button{
  height:10vh;
  width: 30vw;

  letter-spacing: .2vw;
  background-color: #ecf0f1;
}

.header-button:active{
  background-color: #7f8c8d;
  color: purple;
}

.header-button:focus{
  outline: none;
}*/
